site_name: Pharma Net Dealer Docs
site_description: Person or business that buys products (often in bulk) to resell them to consumers or other businesses.
site_author: Pharma Net
site_url: https://dealer.docs.pharmanet.bilsul.com

# repo_url: https://github.com/pharmadotnet/pharmanet-dealer-docs
# repo_name: pharma-dealer-docs

theme:
  name: material
  # logo: assets/logo.jpg
  # favicon: assets/favicon.ico
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotate
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - search
markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - attr_list
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3

nav:
  - Home: index.md
  - Getting Started:
    - getting-started/index.md
    - getting-started/create-account.md
    - getting-started/quick-tour.md
  - User Guide:
    - user-guide/dashboard/overview.md
    - user-guide/dashboard/menu.md
    - Review:
      - user-guide/review/overview.md
      - user-guide/review/comments.md
    - Account:
      - user-guide/account/profile.md
      - user-guide/account/security.md
  - Support:
    - support/faq.md
    - support/contact.md
  - Legal:
    - legal/terms.md
    - legal/privacy.md
    - legal/acceptable-use.md